body{
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}


.header{
  background: gold;
}
.datapoint{
  text-align: center;
}
.weekly .yearly{
  text-align: left;
}


.odd{
  background: #b2b4ae;
  padding:10px;
  line-height: 25px;
}

.even{
  /*background: #85458a;*/
  padding:10px;
  line-height: 25px;
}


input{
  text-align: center;
}
