body{
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;

}


.header{
  background: #ffb500;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
}

.datapoint{
  text-align: center;
}

.weekly .yearly{
  text-align: left;
}


.odd{
  /*background: #b2b4ae;*/
  padding:10px;
  line-height: 25px;
  text-align: center;
  margin: 0px;
}


.even{
  /*background: #85458a;*/
  text-align: center;
  padding:10px;
  line-height: 25px;
  margin: 0px;
}


input{
  text-align: center;
  border-radius: 5px;
}

.input{
  border-bottom: solid black;
  margin-bottom: 0px;
}

#possibleIncome{
  background: #ffb500;
}

.output{
  height: 34px;
  border-bottom: solid black
}

.currencyinput {
    border: 1px inset #ccc;
}

.surgeonInput{
  color: white;
}

.datapoint{
  text-align: left;
}

